/*

                         https://psychoticodes.tumblr.com/
   
              TEMPLATE CRIADO POR KASPER, NÃO TIRE OS CRÉDITOS
*/


/*BAD PLAYER*/

@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');


#bdp {
  display:block;
  margin: auto;
  width: var(--width);
  background: var(--bg);
  padding:20px 20px 6px 20px;
  box-shadow:0px 0px 2px #080808;  
}

#bdp .bxt {
  font:12px Mulish;
  line-height:160%;
  color:#666;
  text-align:justify;  
}

#bdp .bitu {
  font:8px calibri;
  text-transform:uppercase;
  margin-bottom:15px;
  letter-spacing:1px;
  border-bottom:1px solid var(--bd); 
  display:inline-block; 
  cursor:default;
  color: var(--bd); 
}

#bdp::after {
  content: "psychoticodes";
  font: bold 8px/12px 'Consolas';
  color: #444;
  text-transform: uppercase;
  opacity: .5;
  display:block;
  text-align:center;
  margin-top:4px;
}
