.content:has(#ily_1) {
  overflow: visible;
}

#ily_1 {
  --ily-1-font_small: 0.7em;
  --ily-1-font_normal: 0.9em;
  --ily-1-font_large: 1.2em;
  --ily-1-bg-color: #121212;
  --ily-1-bg-texto: url(https://img.freepik.com/free-vector/detailed-dark-grunge-style-texture-background_1048-14598.jpg);
  --ily-1-bg-box-shadow: 0 0 0 0.04em #313131, 0.2em 0.2em 0.8em -0.2em #141414,
    0 0 8em #0a0a0a inset;
  --ily-1-text-color: #fdeedb;
  --ily-1-destaque--1-text-color: #f47e57;
  --ily-1-destaque--2-text-color: #f47e57;
  --ily-1-content--text-color: #fdeedb;
  --ily-1-panel--bg: #1f1f1f;
  --ily-1-panel--border: #333;
  --ily-1-button--bg: #2c2c2c;
  --ily-1-button--border: #444;
  --ily-1-button--active: #555;
}

#ily_1 * {
  transition: background 0.3s ease, color 0.3s ease;
}

#ily_1 svg {
  display: none;
}

.ily_theme_light:checked~* {
  --ily-1-bg-color: #f9f9f9;
  --ily-1-bg-color: #f9f9f9;
  --ily-1-text-color: #222;
  --ily-1-destaque--1-text-color: #d9491a;
  --ily-1-destaque--2-text-color: #d9491a;
  --ily-1-content--text-color: #5d3400;
  --ily-1-bg-texto: url(https://img.freepik.com/free-photo/yellow-concrete-textured-background_53876-63607.jpg);
  --ily-1-bg-box-shadow: 0 0 0 0.04em #aa937f, 0.2em 0.2em 0.8em -0.2em #150a02,
    0 0 8em #452901 inset;
  --ily-1-panel--bg: #39250c;
  --ily-1-panel--border: #ccc;
  --ily-1-button--bg: #e0e0e0;
  --ily-1-button--border: #bbb;
  --ily-1-button--active: #999;
}

#ily_1 #ily_container {
  max-width: 800px;
  min-width: 500px;
  position: relative;
  margin: 0 auto;
}

#ily_1.ily_time #ily_container {
  padding-top: 115px;
}

#ily_1 #ily_header {
  height: 400px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

#ily_1 #ily_header #ily_titulo_container {
  margin-right: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ily_1 #ily_header #ily_titulo {
  font-family: "Hello Script", sans-serif;
  color: #fdeedb;
  font-size: 3em;
  text-align: center;
  margin-bottom: 10px;
  line-height: 0.79em;
}

#ily_1 #ily_header #ily_subtitulo {
  font-family: "Young Serif", sans-serif;
  color: #fdeedb;
  font-size: 2em;
  text-align: center;
  max-width: calc(100% - 100px);
  line-height: 1.2em;
}

#ily_1 #ily_header #ily_divisor {
  text-align: center;
  height: 20px;
}

#ily_1 #ily_header #ily_divisor svg {
  display: block;
  width: 200px;
  fill: #fdeedb;
}

#ily_1 #ily_header #ily_header_img {
  background: var(--img-url) no-repeat center center / contain;
  width: 279px;
  height: 470px;
  position: absolute;
  z-index: 100;
}

#ily_1 #ily_texto {
  padding-inline: 43px;
  padding-block: 100px 57px;
  margin-inline: 28px;
  position: relative;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: var(--ily-1-content--text-color);
  margin-bottom: 100px;
}

#ily_1.ily_time #ily_texto {
  padding-block: 60px 57px;
  margin-bottom: 50px;
}

#ily_texto p {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: var(--ily-1-content--text-color);
  text-align: justify;
  font-weight: 300;
}

#ily_1 #ily_texto::after {
  content: " ";
  position: absolute;
  inset: 0;
  width: 100%;
  background: var(--ily-1-bg-texto);
  box-shadow: var(--ily-1-bg-box-shadow);
  filter: url(#ily_torn);
  z-index: 1;
}

#ily_1 #ily_texto #ily_wrapper_texto {
  position: relative;
  z-index: 100;
}

#ily_1 #ily_texto span {
  font-weight: bolder;
  color: var(--ily-1-destaque--1-text-color);
}

#ily_1 #ily_footer {
  width: 300px;
  min-height: 80px;
  position: absolute;
  font-family: "Merriweather", serif;
  font-size: 1.2em;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: var(--ily-1-content--text-color);
  bottom: -100px;
  right: 12px;
  rotate: 4deg;
  display: flex;
  align-items: center;
  z-index: 1;
}

#ily_1 .ily_paper {
  padding: 17px;
}

#ily_1 .ily_paper::after {
  content: " ";
  position: absolute;
  inset: 0;
  width: 100%;
  background: var(--ily-1-bg-texto);
  box-shadow: var(--ily-1-bg-box-shadow);
  filter: url(#ily_torn);
  z-index: -1;
}

#ily_1 #ily_titulo_musica {
  max-width: 160px;
  text-align: center;
  font-size: 18px;
  font-family: "Neumartha", sans-serif;
  line-height: 20px;
  margin: 3px auto -6px auto;
}

div#ily_titulo_musica::before {
  content: "“";
  font-size: 30px;
  position: relative;
  top: 6px;
}

div#ily_titulo_musica::after {
  content: "„";
  font-size: 30px;
  position: relative;
  bottom: -13px;
}

#ily_1 .ily_collage {
  background: var(--url-ily-collage) no-repeat center center / contain;
  position: absolute;
  pointer-events: none;
}

#ily_1 a:link {
  color: var(--ily-1-content--text-color);
  text-decoration: unset;
}

#ily_1 a:visited {
  color: var(--ily-1-content--text-color);
}

#ily_1 a:hover {
  color: var(--ily-1-content--text-color);
  filter: brightness(2);
}

#ily_1 a:active {
  color: var(--ily-1-content--text-color);
}

.ily_wrapper {
  position: relative;
}

.ily_control_panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 1000;
}

.ily_button_group {
  background: var(--ily-1-panel--bg);
  border: 1px solid var(--ily-1-panel--border);
  padding: 6.5px 10px;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.ily_button_group input {
  display: none !important;
}

#ily_1 input[type="radio"] {
  display: none !important;
}

.ily_button_group label {
  cursor: pointer;
  padding: 6.5px 10px;
  background: var(--ily-1-button--bg);
  border: 1px solid var(--ily-1-button--border);
  border-radius: 6px;
  color: #aaa;
}

.ily_button_group label:hover {
  background: var(--ily-1-button--border);
  color: #fff;
}

.ily_button_group audio {
  background: none;
  border: none;
  filter: invert(80%) contrast(110%);
}

.ily_wrapper input.ily_theme_light:checked~#ily_container .ily_control_panel .ily_button_group label.label_ily_theme_light,
.ily_wrapper input.ily_theme_dark:checked~#ily_container .ily_control_panel .ily_button_group label.label_ily_theme_dark,
.ily_wrapper input.ily_font_small:checked~#ily_container .ily_control_panel .ily_button_group label.label_ily_font_small,
.ily_wrapper input.ily_font_normal:checked~#ily_container .ily_control_panel .ily_button_group label.label_ily_font_normal,
.ily_wrapper input.ily_font_large:checked~#ily_container .ily_control_panel .ily_button_group label.label_ily_font_large,
.ily_wrapper input:checked+label {
  background: var(--ily-1-button--active);
  color: #fff;
  border-color: #666;
}

/* Font size rules */
.ily_font_small:checked~* .ily_content {
  font-size: var(--ily-1-font_small);
}

.ily_font_normal:checked~* .ily_content {
  font-size: var(--ily-1-font_normal);
}

.ily_font_large:checked~* .ily_content {
  font-size: var(--ily-1-font_large);
}

.ily_content {
  max-width: 700px;
  margin: auto;
  font-size: var(--ily-1-font_normal);
  transition: font-size 0.2s ease !important;
}

.ily_content h1 {
  color: var(--ily-1-content--text-color);
}

.ily_content p {
  line-height: 1.6;
  color: var(--ily-1-content--text-color);
}

.ily_timeline {
  width: 100%;
  position: relative;
  padding-top: 50px;
}

.ily_timeline:before {
  content: "";
  position: absolute;
  top: 0px;
  left: calc(35%);
  bottom: 0px;
  width: 4px;
  background: var(--ily-1-content--text-color);
}

.ily_timeline:after {
  content: "";
  display: table;
  clear: both;
}

.ily_timeline_entry {
  clear: both;
  text-align: left;
  position: relative;
}

.ily_timeline_entry .ily_timeline_title {
  margin-bottom: 0.5em;
  float: left;
  width: 30%;
  padding-right: 5%;
  text-align: right;
  position: relative;
}

.ily_timeline_entry .ily_timeline_title p {
  text-align: right !important;
}

.ily_timeline_entry .ily_timeline_title:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 4px solid var(--ily-1-destaque--1-text-color);
  background-color: var(--ily-1-content--text-color);
  border-radius: 100%;
  top: 15%;
  right: -10px;
  z-index: 99;
}

.ily_timeline_entry .ily_timeline_title h3 {
  margin: 0;
  font-size: 120%;
}

.ily_timeline_entry .ily_timeline_body h3 {
  margin: 0;
}

.ily_timeline_entry .ily_timeline_title p {
  margin: 0;
  font-size: 100%;
}

.ily_timeline_entry .ily_timeline_body {
  margin: 0 0 3em;
  float: right;
  width: 60%;
  padding-left: 5%;
}

.ily_timeline_entry .ily_timeline_body p {
  line-height: 1.4em;
}

.ily_timeline_entry .ily_timeline_body p:nth-of-type(1) {
  margin-top: 0;
  font-weight: 400;
  font-style: italic !important;
}

.ily_timeline_entry .ily_timeline_body ul {
  color: var(--ily-1-content--text-color);
  padding-left: 0;
  list-style-type: none;
}

.ily_timeline_entry .ily_timeline_body ul li:before {
  content: "–";
  color: var(--ily-1-destaque--1-text-color);
  margin-right: 0.5em;
}
