@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&family=Lavishly+Yours&family=Noto+Sans:ital@0;1&display=swap");

#duncan_001 {
  color: #e9e0c1;
  --text-color: #e9e0c1;
  --title-font: "IM Fell English", serif;
  --body-font: "Noto Sans", sans-serif;
}

#duncan_001 #container_duncan_bg {
  max-width: 800px;
  width: 60%;
  min-width: 500px;
  margin: 0 auto;
  position: relative;
  background: #333333 url(https://i.imgur.com/Nayy1rx.jpeg) top/contain repeat;
  background-blend-mode: multiply;
  corner-shape: scoop;
  border-radius: 40px;
}

#duncan_001 #container_duncan_bg:hover:after {
  content: "Gratiluz, eu. ಠ~ಠ";
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 11px;
  color: #676767;
}

#duncan_001 #container_duncan {
  padding: 20px;
  border: 20px solid #00000033;
  outline: 2px solid var(--grupo-50);
  outline-offset: -20px;
  corner-shape: scoop;
  border-radius: 40px;
}

#duncan_001 #container_duncan::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% - 78px);
  height: calc(100% - 79px);
  margin: 20px;
  border: 20px solid transparent;
  outline: 2px solid var(--grupo-50);
  outline-offset: -20px;
  border-radius: 35px;
  corner-shape: superellipse(-0.6);
  background-color: var(--groupbody);
  -webkit-mask: url(https://i.imgur.com/MCylQrO.png);
  mask: url(https://i.imgur.com/MCylQrO.png);
  mask-mode: luminance;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position-x: center;
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
  pointer-events: none;
}

#duncan_001 #titulo_duncan,
#duncan_001 #subtitulo_duncan,
#duncan_001 .duncan_timeline_entry .duncan_timeline_title h3,
#duncan_001 .duncan_timeline_entry .duncan_timeline_title p,
#duncan_001 .duncan_timeline_entry .duncan_timeline_body h3 {
  font-family: var(--title-font);
}

#duncan_001 #texto_duncan,
#duncan_001 #texto_duncan p,
#duncan_001 #cap_duncan,
#duncan_001 #ext_duncan,
#duncan_001 #footer_duncan {
  font-family: var(--body-font);
}

#duncan_001 #header_duncan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  position: relative;
  min-height: 173px;
  padding-top: 15%;
}

#duncan_001 #titulo_duncan {
  position: relative;
  z-index: 1000;
  max-width: 80%;
  min-height: 77px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 65px;
  font-weight: 400;
  line-height: 61px;
}

#duncan_001 #titulo_duncan::before {
  content: "Duncan Sinclair";
  position: absolute;
  top: -39px;
  left: -20%;
  width: 140%;
  height: 100%;
  min-height: 90px;
  text-align: center;
  color: #000000;
  opacity: 0.3;
  font-family: "Lavishly Yours", cursive;
  font-size: 104px;
  font-weight: 400;
  z-index: -1;
}

#duncan_001 #subtitulo_duncan {
  max-width: 60%;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}

#duncan_001 #header_duncan .divider_duncan {
  width: 300px;
  height: 14px;
  margin: 40px 0;
  background: url(https://i.imgur.com/Oc0kG6h.png) 0 -92px / cover;
  opacity: 0.7;
}

#duncan_001 #texto_duncan {
  position: relative;
  margin-top: -8px;
  padding: 0 20px;
}

#duncan_001 #texto_duncan p {
  margin-bottom: 0.7em;
  text-align: justify;
}

#duncan_001 #texto_duncan,
#duncan_001 #texto_duncan p {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.2em;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

#duncan_001 #texto_duncan p b,
#duncan_001 #texto_duncan p i,
#duncan_001 #texto_duncan p s,
#duncan_001 #texto_duncan p u {
  color: var(--cor_int, var(--text-color));
}

#duncan_001 #texto_duncan p b {
  font-weight: 700;
  text-shadow: 1px 1px 1px #101010c9, 1px -1px 1px #101010c9,
    -1px -1px 1px #101010c9, -1px 1px 1px #101010c9;
}

#duncan_001 #texto_duncan p b.dun,
#duncan_001 #texto_duncan p.dun b,
#duncan_001 #texto_duncan p.dun i,
#duncan_001 #texto_duncan p.dun s,
#duncan_001 #texto_duncan p.dun u {
  color: var(--grupo);
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
}

#duncan_001 #texto_duncan p:first-of-type:first-letter {
  float: left;
  padding: 0.3em 0.2em;
  font-size: 4em;
  font-weight: 700;
  color: var(--grupo);
  font-family: var(--title-font);
  -webkit-filter: brightness(1.5);
  filter: brightness(1.5);
  text-shadow: 1px 1px 1px #101010c9, 1px -1px 1px #101010c9,
    -1px -1px 1px #101010c9, -1px 1px 1px #101010c9;
}

#duncan_001 span.transl_duncan {
  font-weight: 400;
  color: #656565;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#duncan_001 span.transl_duncan:hover {
  color: var(--text-color);
}

#duncan_001 .cap_duncan {
  margin: 30px auto;
  text-align: center;
  font-size: 1.5em;
}

#duncan_001 #exp_duncan {
  padding: 0 20px;
  margin-bottom: 20px;
}

#duncan_001 #exp_duncan b {
  color: var(--grupo);
}

#duncan_001 #footer_duncan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 0 20px;
  text-align: justify;
}

#duncan_001 #footer_duncan > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%;
  padding: 5px 0;
}

#duncan_001 #footer_duncan > div:not(:last-child) {
  max-width: 25%;
  border-right: 2px solid var(--groupbody-75);
}

#duncan_001 #footer_duncan > div div {
  padding: 10px;
  text-align: justify;
  font-size: 0.85em;
}

#duncan_001 #footer_duncan a,
#duncan_001 #footer_duncan b,
#duncan_001 .duncan_timeline a {
  font-weight: 700;
  color: var(--grupo);
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
  border-bottom: unset !important;
  text-shadow: unset !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#duncan_001 #footer_duncan a:hover,
#duncan_001 #footer_duncan b:hover,
#duncan_001 .duncan_timeline a:hover {
  color: var(--cor_int, var(--grupo));
  -webkit-filter: brightness(1.7);
  filter: brightness(1.7);
}

#duncan_001 .duncan_timeline {
  width: 100%;
  position: relative;
  padding-top: 50px;
}

#duncan_001 .duncan_timeline:before {
  content: "";
  position: absolute;
  top: 0;
  left: 30%;
  bottom: 0;
  width: 4px;
  background: var(--text-color);
}

#duncan_001 .duncan_timeline:after {
  content: "";
  display: table;
  clear: both;
}

#duncan_001 .duncan_timeline_entry {
  clear: both;
  position: relative;
  text-align: left;
}

#duncan_001 .duncan_timeline_entry .duncan_timeline_title {
  float: left;
  width: 25%;
  padding-right: 5%;
  margin-bottom: 0.5em;
  text-align: right;
  position: relative;
}

#duncan_001 .duncan_timeline_entry .duncan_timeline_title p {
  text-align: right !important;
}

#duncan_001 .duncan_timeline_entry .duncan_timeline_title:before {
  content: "";
  position: absolute;
  top: 15%;
  right: -10px;
  width: 8px;
  height: 8px;
  border: 4px solid var(--grupo);
  background-color: var(--text-color);
  border-radius: 50%;
  z-index: 99;
}

#duncan_001 .duncan_timeline_entry .duncan_timeline_title h3,
#duncan_001 .duncan_timeline_entry .duncan_timeline_title p,
#duncan_001 .duncan_timeline_entry .duncan_timeline_body h3 {
  margin: 0;
}

#duncan_001 .duncan_timeline_entry .duncan_timeline_title h3 {
  font-size: 2em;
}

#duncan_001 .duncan_timeline_entry .duncan_timeline_body h3 {
  margin-bottom: 1em;
}

#duncan_001 .duncan_timeline_entry .duncan_timeline_body {
  float: right;
  width: 60%;
  padding: 0 5%;
  margin-bottom: 3em;
  text-align: justify;
}

#duncan_001 .duncan_timeline_entry .duncan_timeline_body p {
  font: 1em/1.4em var(--body-font);
}

#duncan_001 .duncan_timeline_entry .duncan_timeline_body p:first-of-type {
  margin-top: 0;
  font-weight: 400;
  font-style: italic !important;
}

#duncan_001 .duncan_timeline_entry .duncan_timeline_body ul {
  padding-left: 0;
  list-style: none;
}

#duncan_001 .duncan_timeline_entry .duncan_timeline_body ul li:before {
  content: "–";
  color: var(--grupo);
  margin-right: 0.5em;
}
